:root {
  --background-color: #010101;
  --background-color-secondary: #121213;
  --background-color-accent: #1f2026;
  --background-color-accent-72: rgb(31, 32, 38, 0.72);
  --text-color-primary: #fff;
  --text-color-secondary: #666666;
  --text-font: "Circe", sans-serif;
  --color-accent: #c6f5f3;
  --color-delete: #ff6b6b;
}
