* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--text-font);
  color: var(--text-color-primary);
  padding: 27px 24px;

  @media (max-width: 1450px) {
    padding: 28px 15px;
  }
}
