:root {
  --background-color: #010101;
  --background-color-secondary: #121213;
  --background-color-accent: #1f2026;
  --background-color-accent-72: rgba(31, 32, 38, 0.72);
  --text-color-primary: #fff;
  --text-font: "Circe", sans-serif;
}
